.elemento{
  color: aqua;
}

.vertical-buttons {
  display: flex;
  flex-direction: column; /* Alinea los elementos en una columna (verticalmente) */
  align-items: center; /* Centra los elementos horizontalmente */
  text-align: center; /* Centra el texto dentro de cada elemento */
  margin: 20px; /* Añade un margen alrededor del contenedor */
}

.word {
  font-size: 24px; /* Cambia el tamaño de la letra */
  margin: 10px 0; /* Añade espacio vertical entre los botones */
  padding: 10px 20px; /* Añade espacio dentro del botón */
  border: none; /* Elimina el borde del botón */
  border-radius: 5px; /* Añade bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  color: white;
}

.word.red {
  background-color: red;
}

.word.green {
  background-color: green;
}

.word.blue {
  background-color: blue;
}

.word:hover {
  opacity: 0.8; /* Cambia la opacidad al pasar sobre el botón para indicar interactividad */
}





