.enunciado{
    color:white;
    background-color: gray;
    width: 130px;
    height: 30px;
}
.title{
    color:white;
    background-color: blue;
    width: 1500px;
    height: 100px;
}
.fondo{
    background-color: orange;
    padding: 4%;
}
.grande{
    background-color: fuchsia;
    font-size: 2vw;
    margin: 5vw;

}
.pequeño{
    background-color: red;
    font-size: 2vw;
    margin: 5vw;
}
.mediano{
    background-color: greenyellow;
    margin: 5vw;
    font-size: 2vw;
}
.busqueda{
    position: absolute;
    left: 87%;
    top: 11%;
    transform: translate(-50%, -50%);
    padding: 10px;
}
.nemo{
    outline: none;
    box-sizing: border-box;
    height: 60px;
    width: 0;
    padding: 0 20px;
    color: #000;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid blue;
    transition: all .7s ease;
}
::placeholder{
    color:green;
}
.Botono{
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 80 px;
    background: purple;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;    
}
.Botono img{
    font-size: 25px;
    color: white;
    line-height: 80px;
    transition: all .7s ease;
}
.busqueda:hover input{
    width: 350px;
}
.busqueda:hover img{
    transform: rotate(-360deg);
}   
.Botono:hover{
    background-color: purple;
}

.va{
    font-size: 3em;
    color: white;
    display: inline-block;
    vertical-align: middle;
}
.ve{
    display: inline-block;
    vertical-align: middle;
}
.patata{
    position: absolute;
    top: 30%;
    left: 5%;
}
.patata ul a:hover{
    background-color: purple;
    color:greenyellow;
}
.patata ul{
    background-color: grey;
}
.merenge{
    font-size: 40px;
    color: gray;
}